* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightsteelblue;
  height: 100vh;
  overflow: auto;
}

#board {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: floralwhite;
}

#player {
  position: absolute;
}

.obstacle {
  position: absolute;
  background-color: red;
}

#pause {
  margin-top: 25px;
  width: 50px;
  height: 25px;
}
