* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightsteelblue;
  height: 100vh;
  overflow: hidden;
}

#board {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: floralwhite;
}

#player {
  position: absolute;
  bottom: 0;
}

#character {
  height: 70px;
}

.obstacle {
  position: absolute;
  height: 70px;
  width: 35px;
  background-color: red;
}
